<h2>List of manufacturers:</h2>

<% @manufacturers.each do |manu| %>
  <div>
    <%= link_to manu.name, manufacturer_path(manu)%>
  </div>
<% end %>

<hr>
<div>
  <h2>Lists of all car in stock: </h2>
  <% @cars.each do |car| %>
    <div>
      <%= car.manufacturer.name %>-- <%= car.color %> -- <%= car.mileage %> -- <%= car.year %>
    </div>
  <% end %>
</div>
