<!DOCTYPE html>
<html>
<head>
  <title>SystemCheck</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <%= link_to "Home", root_path %> ||
    <%= link_to "Add new manufacturer", new_manufacturer_path %>
  </div>
  <div>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
